body{
    background-image:url(images/tanc.gif);
    background-size: cover;
    background-attachment: fixed;
}
p{
    font-size: 25px;
    color:black;

}
#Cim{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    background-color:darkgray;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    border: black;
    border-radius: 100px;
}
#Gemb{
    text-align: center;
}
#Gemb2{
    width: 250px;
    height: 100px;
    background-image: url(images/bruhszar2.png);
    font-size: 30px;
    font-family: sans-serif;
}
#asd{
    color:black;
    background-color: darkgray;
    border-radius: 100px;
}
#zene{
    text-align: right;
}
#seefelirat{
    text-align: left;
    font-size: 40px;
    font-family: sans-serif;
    background-color: darkgray;
    margin-right: 1532px;
    margin-top: 470px;
}
#dik{
    margin-top: 10px;
    text-align: center;
}